html {
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}
a {
    text-decoration: none;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(150, 150, 150);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 80, 80); 
}

.nav {
    background-color: transparent;
    overflow: hidden;
    font-size: 16px;
    margin: auto;
}

h1 {
    float: left;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 30px;
    letter-spacing: 10px;
}

ul {
    list-style-type: none;
    margin-right: 50px;
    float: right;
}

li {
    float: left;
}

.nav a {
    float: right;
    color: grey;
    text-align: right;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 13px;
}

.nav a:hover {
    color: black;

}

.nav a.active {
    border-bottom: solid;
    border-width: 2px;
    color: black;
    font-weight: bold;
    pointer-events: none;
}

h2 {
    text-align: center;
    font-size: 16px;
}

/* PORTFOLIO PAGE */
.portfolioStyle {
    width: 1000px;
    margin: auto;
}

.portfolioHead {
    position: relative;
    text-align: center;
    color: white;
}

.imageFloat {    
    float: right;
    margin-bottom: 10px;
}

.imageMargin {
    margin-bottom: 10px;
}

.descriptionHead {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    font-size: 90px;
    transform: rotate(270deg);
}